.contentlayer
.content-collections
.source

.vscode
.idea
.next
.cache
node_modules
build
temp

.env
.env*.local
next-env.d.ts
.vercel
test.js

/coverage
/out/
*.tsbuildinfo
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.DS_Store
.DS_Store?
Thumbs.db
desktop.ini

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
bun.lock