@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../node_modules/fumadocs-ui/dist/**/*.js';

:root {
	--color-fd-background: #F5F5F5;
	--color-fd-card: #F1F1F1;
}

.dark {
	--color-fd-background: #151515;
	--color-fd-card: #191919;
}

article {
	max-width: 900px !important;
}

main > div:nth-child(2) {
	width: 100%;
}

article > div.prose > ul > li {
	margin-top: -2px
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
	content: "" !important;
}
.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	font-style: normal !important;
	font-weight: normal !important;
}

video {
	border-radius: 0.5rem;
}